:host {
  display: block;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  padding-top: 1px;
  font-size: 16px;
  line-height: 150%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  transition 0.3s ease
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--gray-100);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--gray-200);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  transition display 0.3s ease
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {

  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform translate(-50%, -50%)
  border-radius: 50%;
  background: var(--primary);
}
